<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Ticket Booking</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <h1 class="site-title">Movie Ticket Booking</h1>
    
</header>

<main>
    
    <section id="movies">
        <h2>Admin Panel</h2>
        <div class="movie-list">
            
            <div class="movie">
                <img src="/images/movies.jpg" alt="Movie">
                <h3>Movie Details</h3>
                <a href="/addmovies" role="button" class="button">Click Here</a>
            </div>
            
            
            <div class="movie">
                <img src="/images/thaetre.jpg" alt="Theatre">
                <h3>Theatre Details</h3>
                <a  href="/addtheater" class="button">Click Here</a>
            </div>
            <div class="movie">
                <img src="/images/show time.jpg" alt="Movie 1">
                <h3>Show Time Details</h3>
                <a href="/showtimedetail"class="button">Click Here</a>
            </div>
        </div>
    </section>
</main>

</body>
</html>
