<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Secrets</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/layout.css">
</head>

<body>
<header>
    <h1 class="site-title">Movie Ticket Booking</h1>
</header>
<div class="cinema-info">
    <img src="https://t3.ftcdn.net/jpg/04/66/39/50/360_F_466395040_mj2YjwJe0qLlRXQk51kg0q8Jw9AwJp5r.jpg" alt="Cinema Logo" class="cinema-logo">
    <h2 class="cinema-name">Cinema Hub</h2>
</div>
<div class="theater-info">
    <img src="/images/thaetre.jpg" alt="Theater Image" class="theater-image">
</div>
<main>
   
    <section id="current-movies">
        <h2>Current Running Movies</h2>
        <div class="movie-list">
            
            <div class="movie">
                <img src="https://m.media-amazon.com/images/M/MV5BMGJmZGYwMDYtYWJhYy00MmEzLWI0YmUtMWVhM2VmNWNmNzI2XkEyXkFqcGdeQXVyOTIxMzQ0NzU@._V1_.jpg" alt="Movie 1">
                <h3>Maidan</h3>
                <button><a href="/moviedetails1" role="button">Book Now</a></button>
            </div>
            
            
            <div class="movie">
                <img src="/images/movie2.jpg" alt="Movie 2">
                <h3>Bade Miya Chote Miya</h3>
                <button><a href="/moviedetails2" role="button">Book Now</a></button>
            </div>
            <div class="movie">
                <img src="/images/movie3.jpg" alt="Movie 1">
                <h3>Godzilla</h3>
                <button><a href="/moviedetails3" role="button">Book Now</a></button>
            </div>
        </div>
    </section>
    <section id="upcoming-movies">
        <h2>Upcoming movies</h2>
        <div class="movie-list">
            
            <div class="movie">
                <img src="/images/movie4.jpg" alt="Movie 1">
                <h3>Puspa 2:the Rule</h3>
            </div>
            
            <div class="movie">
                <img src="/images/movie5.jpeg" alt="Movie 2">
                <h3>Avengers:Secret Wars</h3>
            </div>
        </div>
    </section>
    
    
</main>

<footer>
    
</footer>



</body>